
:root {
  /* Tag colors */
  --tag-red: #f87171;
  --tag-blue: #60a5fa;
  --tag-green: #4ade80;
  --tag-yellow: #fbbf24;
  --tag-purple: #a78bfa;
  --tag-pink: #f472b6;
  --tag-indigo: #818cf8;
  --tag-cyan: #22d3ee;
  --tag-orange: #fb923c;
  --tag-teal: #2dd4bf;
  
  /* Legacy tag colors mappings */
  --personal: var(--tag-red);
  --work: var(--tag-blue);
  --default: var(--tag-yellow);
}
